<%= form_for @photo do |f| %>
  <div class="field">
    <%= f.text_area :description %>
    <%= f.label :description, class: 'form-labels' %> <br />
  </div>

  <div class="field">
    <%= f.file_field :image %>
    <%= f.label :image, class: 'form-labels' %> <br />
  </div>

  <div class="actions">
    <%= f.submit "Submit Today's Photo", :class => "form-buttons" %>
  </div>
<% end %>
