<h1><%= "Your Daily Photo" %></h1>
<% if @todays_photo.nil? %>
  <%= "You haven't uploaded a photo today. Click below to add a new photo." %></br>
  <%= link_to 'New Photo', new_photo_path %>
<% else %>
  <%= image_tag @todays_photo.image_url %></br>
  <%= @todays_photo.description %>
<% end %>

<h2><%= "Previous Photos:" %></h2>
<% if @photos.empty? %>
  <%= "You don't have any photos yet!" %>
<% else %>
  <% @photos.each do |photo| %>
    <%= link_to photo.date, photos_path(photo) %></br>
  <% end %>
<% end %>
