<h1><%= "Your Daily Photo" %></h1>
<% if @todays_photo.nil? %>
  <%= "You haven't uploaded a photo today. Click below to add a new photo." %></br>
  <%= link_to 'New Photo', new_photo_path %>
<% else %>
  <%= image_tag @todays_photo.image_url %></br>
  <%= @todays_photo.description %>
<% end %>
